<div class="container">
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="space-between" style="margin-bottom: 18px;">
            <a mat-mini-fab color="accent" routerLink="..">
                <mat-icon>arrow_back</mat-icon>
            </a>
            <h2>Mat Sheet component</h2>
            <h2></h2>
        </div>

        <mat-divider></mat-divider>
        <mat-card-content>
            <div style="margin-top: 40px">
                <div>
                    <div fxLayout="row" fxLayoutAlign="space-between" style="margin-bottom: 18px;">
                        <h1>MatBottomSheet</h1>
                        <app-code-button (buttonClickEvent)="buttonClickEvent()"></app-code-button>
                    </div>
                    <p class="blurText">
                        The <strong class="text-format">MatBottomSheet</strong> service can be used to open Material
                        Design panels to the bottom of the
                        screen. These panels are intended primarily as an interaction on mobile devices where they can
                        be used as an alternative to dialogs and menus.
                    </p>
                </div>
                <br>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <pre><code [highlight]="response | json"></code></pre>
                </div>

                <button mat-raised-button (click)="openBottomSheet()">Open file</button>
            </div>
            <app-code-generator *ngIf="codeGeneratorEnable" [tsConfig]="angularCodeTemplateViewModel.tsConfig"
                [htmlConfig]="angularCodeTemplateViewModel.htmlConfig"></app-code-generator>

        </mat-card-content>

    </mat-card>
</div>