<div class="container">
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="space-between" style="margin-bottom: 18px;">
            <a mat-mini-fab color="accent" routerLink="..">
                <mat-icon>arrow_back</mat-icon>
            </a>
            <h2>Form Field Example</h2>
            <h2></h2>
        </div>

        <mat-divider></mat-divider>
        <mat-card-content>
            <div style="margin-top: 40px">
                <div>
                    <div fxLayout="row" fxLayoutAlign="space-between" style="margin-bottom: 18px;">
                        <h1>Dynamically add and remove component</h1>
                        <app-code-button (buttonClickEvent)="buttonClickEvent()"></app-code-button>
                    </div>
                </div>
                <br><br>
                <form class="dynamic-form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
                        <falcon-button (btnClick)="RemoveComponentclick($event)" [formGroup]="form" [field]="DeleteButtonConfig"></falcon-button>
                        <falcon-button [formGroup]="form" [field]="AddButtonConfig"></falcon-button>
                        <reactive-controls [fields]="controlsConfig" [formGroup]="form"></reactive-controls>
                </form>
               
                <div fxLayout="row" fxLayoutAlign="center center">
                    <pre><code [highlight]="form?.value | json"></code></pre>
                </div>
            </div>
            <app-code-generator *ngIf="codeGeneratorEnable" [tsConfig]="angularCodeTemplateViewModel.tsConfig"
                [htmlConfig]="angularCodeTemplateViewModel.htmlConfig"></app-code-generator>

        </mat-card-content>

    </mat-card>
    <br>
    <app-form-field-example></app-form-field-example>
    <app-child-layout></app-child-layout>
    <app-form-nexted-child></app-form-nexted-child>
</div>