<div class="container">
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="space-between" style="margin-bottom: 18px;">
            <a mat-mini-fab color="accent" routerLink="..">
                <mat-icon>arrow_back</mat-icon>
            </a>
            <h2>Button component</h2>
            <h2></h2>
        </div>

        <mat-divider></mat-divider>
        <mat-card-content>
            <div style="margin-top: 40px">
                <div>
                    <div fxLayout="row" fxLayoutAlign="space-between" style="margin-bottom: 18px;">
                        <h1>Button</h1>
                        <app-code-button (buttonClickEvent)="buttonClickEvent()"></app-code-button>
                    </div>
                    <p class="blurText">
                        Angular Material buttons are native <strong class="text-format">button</strong> or <strong
                            class="text-format">a</strong> elements enhanced with Material Design
                        styling and ink ripples.
                    </p>
                </div>
                <br><br>
                <form class="dynamic-form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
                    <reactive-controls [fields]="controlsConfig" [formGroup]="form"></reactive-controls>
                </form>

                <h1>Button in HTML</h1>
                <falcon-button [formGroup]="form" [field]="htmlButtonConfig"></falcon-button>
            </div>
            <app-code-generator *ngIf="codeGeneratorEnable" [tsConfig]="angularCodeTemplateViewModel.tsConfig"
                [htmlConfig]="angularCodeTemplateViewModel.htmlConfig"></app-code-generator>

        </mat-card-content>

    </mat-card>
</div>