<div class="container">
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="space-between" style="margin-bottom: 18px;">
            <a mat-mini-fab color="accent" routerLink="..">
                <mat-icon>arrow_back</mat-icon>
            </a>
            <h2>Date Picker</h2>
            <h2></h2>
        </div>

        <mat-divider></mat-divider>
        <mat-card-content>
            <div style="margin-top: 40px">
                <div>
                    <div fxLayout="row" fxLayoutAlign="space-between" style="margin-bottom: 18px;">
                        <h1>Date Picker</h1>
                        <app-code-button (buttonClickEvent)="buttonClickEvent()"></app-code-button>
                    </div>
                    <p class="blurText">
                        The datepicker allows users to enter a date either through text input, or by choosing a date from the
                        calendar. It is made up of several components and directives that work together.</p>
                </div>
                <div style="margin-top: 40px">
                    <form class="dynamic-form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
                        <reactive-controls [fields]="controlsConfig" [formGroup]="form"></reactive-controls>
                    </form>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <pre><code [highlight]="form?.value | json"></code></pre>
                    </div>
                </div>
            </div>
            <app-code-generator *ngIf="codeGeneratorEnable" [tsConfig]="angularCodeTemplateViewModel.tsConfig"
                [htmlConfig]="angularCodeTemplateViewModel.htmlConfig"></app-code-generator>

        </mat-card-content>

    </mat-card>
</div>