<mat-tab-group (selectedTabChange)="onLinkClick($event)">
    <mat-tab label="HTML">
        <ng-container *ngTemplateOutlet="templateToLoad"></ng-container>
    </mat-tab>
    <mat-tab label="TS">
        <ng-container *ngTemplateOutlet="templateToLoad"></ng-container>
    </mat-tab>
    <mat-tab label="CSS">
        <ng-container *ngTemplateOutlet="templateToLoad"></ng-container>
    </mat-tab>
</mat-tab-group>
<ng-template #lazyLoadingTemplate>
    <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 40px;">
        <mat-progress-bar mode="indeterminate" style="width: 20%;" color="accent"></mat-progress-bar>
    </div>
</ng-template>

<ng-template #codeTemplate>
    <pre><code [highlight]="code" [lineNumbers]="true"></code></pre>
</ng-template>