<div class="container">
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="space-between" style="margin-bottom: 18px;">
            <a mat-mini-fab color="accent" routerLink="..">
                <mat-icon>arrow_back</mat-icon>
            </a>
            <h2>Autocomplete component</h2>
            <h2></h2>
        </div>

        <mat-divider></mat-divider>
        <mat-card-content>
            <div style="margin-top: 40px">
                <div>
                    <div fxLayout="row" fxLayoutAlign="space-between" style="margin-bottom: 18px;">
                        <h1>Autocomplete</h1>
                        <app-code-button (buttonClickEvent)="buttonClickEvent()"></app-code-button>
                    </div>
                    <h2>Simple autocomplete</h2>
                    <p class="blurText">The autocomplete is a normal text input enhanced by a panel of suggested
                        options.</p>
                </div>
                <br><br>
                <form class="dynamic-form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
                    <reactive-controls [fields]="controlsConfig" [formGroup]="form"></reactive-controls>
                </form>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <pre><code [highlight]="form?.value | json"></code></pre>
                </div>
            </div>
            <app-code-generator *ngIf="codeGeneratorEnable" [tsConfig]="angularCodeTemplateViewModel.tsConfig"
                [htmlConfig]="angularCodeTemplateViewModel.htmlConfig"></app-code-generator>

        </mat-card-content>

    </mat-card>
</div>